:root {
  --color-light: powderblue;
  --color-dark: midnightblue;
  --color-accent: royalblue;
  --color-white: white;
}

img {
  width: 100%;
}

figure {
  max-width: 300px;
  margin-inline: auto;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}

header {
  background-color: var(--color-dark);
}

nav>a {
  background-color: var(--color-accent);
  color: var(--color-white);
}

section {
  background-color: var(--color-white);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

ol {
  text-align: left;
}

.programming-skill {
  background-color: var(--color-accent);
  color: var(--color-white);
}

#tagline,
figcaption {
  font-style: italic;
  color: var(--color-accent);
}

nav>a:hover {
  color: var(--color-accent);
  background-color: var(--color-white);
}
